/* overall grab */
* {
  /* box-sizing: border-box; */
  font-family: 'Shadows Into Light Two', cursive;
  color: rgb(74, 74, 74);
}
/* home */
/* main background image */
.imageworld {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: auto;
  overflow: auto;
}

/* li {
  list-style-type: none;
} */

.navBar {
  display: flex;
  justify-content:flex-end;
}

.navBar a.active {
  color:#93AFBF;
}

.navBar a:hover {
  background-color: rgba(239, 248, 250, 1.46);
  border-radius: 55%;
}



.first, .second, .third {
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
}

.Logotopic {
  font-family: 'Trirong', serif;
  font-size: 60px;
  font-weight: bold;
  display: center;
  margin-top: -15px;
  height: 300px;
  text-align: center;
}

.homeContainer {
  border-style: solid;
  border-color: rgba(239, 248, 250, 0.46);
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-bottom: 100%;
}

.pick {
  margin-top: 2em;
  font-size: 30px;
  font-weight: bold;
  overflow: auto;
}

#foo {
    font-family: 'Trirong', serif;
    text-align: center;
    width: 20%;  height: 2em;
    margin: 30px;
    padding: 5px;
    color: rgba(74, 74, 74, 1);
    font-size: 20px;
    font-weight: bolder;
    overflow: auto;
}
#submit-button {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.5em;
}



@media only screen and (max-width: 750px) {
    .homeContainer  {
    color: inherit;
    overflow: auto;
  }
   .imageworld {
     background-size: 100%;
     overflow: auto;
  }
  .week_container{
    color:inherit;
    overflow: auto;
  }
  .week_image_world {
  background-size: 100%;
 }
 .miami {
   color: inherit;
   overflow: auto;
 }
}

/*=================================  */
/* start of week page */

.week_image_world {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: auto;
  overflow: auto;
}

.week_container {
  display: flex;
  border-style: solid;
  border-color: rgba(239, 248, 250, 0.46);
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-bottom: 100%;
  overflow: auto;
}

/* .res :hover{
  background-color: red;
} */
.week_rest_top :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.week_ent_botton :hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.week_min_container {
  /* border: 1px;
  border-style: solid;
  border-color: red; */
  display:inline-flex;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  margin: auto;
}

.day_table {
  padding: 70px 0;
  text-align: center;
  font-size: 30px;
  border: 1px solid red;
  border-style: solid;
  border-color: rgba(239, 248, 250, 1.46);
}

.day_table a.active {
  color:#93AFBF;
}

.day_table a:hover {
  background-color: rgba(255, 255, 255, 2);
  border-radius: 55%;
  }


.week_name_assort {
  padding: 70px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
